@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&display=swap');
header{
    text-align: center;
    background-image:url(../img/fond_site.jpg);
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

nav a{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    font-family:'Big Shoulders Display', cursive;
}

nav a:hover{
    font-size: 1.5em;
    text-shadow: 0 0 1vw black;
    text-decoration: none;
    font-family:'Big Shoulders Display', cursive;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: calibri;
    background-image:url(../img/fond_site.jpg);
}
footer{
    text-align: center;
    margin-bottom: 0px;
    padding: 70px;
    font-family: calibri;
    background-color: black;   
}
footer p{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    font-size: 2em;
    background-color: black;
}
#imgfooter{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 1000px){
#grille{
   display:grid;
    grid-template-areas: 
        "partie1" 
        "partie2" 
        "partie3";
    width: 100%;
    margin: auto;
    height: 220vh;
}
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2em;
    color: black;
    text-align: center;
}
p{
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: left;
    background-color: white;
    font-weight: bold;
    font-size: 2em;
}
.t{
    color: #11135D;
}
a{
    text-decoration: none;
    color: #11135D;
}

/*Responsive Ordinateur*/
@media only screen and (min-width: 1000px){
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.2em;
    width: 70%;
    margin: auto;
}

#grille{
    display:grid;
    grid-template-columns:repeat(3 1fr);
    grid-template-rows:repeat(2 1fr);
    grid-template-areas:
        "partie1 partie2 partie3";
    width: 70%;
    margin: auto;
    height: 110h;
}
}

.Partie1{
    grid-area: partie1;
    margin: 5px;
    padding: 5px;
}

.Partie2{
    grid-area: partie2;
    margin: 5px;
    padding: 5px;
}

.Partie3{
    grid-area: partie3;
    margin: 5px;
    padding: 5px;
}





